<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/Home" class="nav-link">
          <i>Home</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="mx-4 nav-item">
        <button type="button" routerLink="/cart" class="btn btn-outline-dark">
          <i class="material-icons">shopping_cart</i>Checkout
        </button>
      </li>
    </ul>
  </div>
</nav>
